<h2>{{currentStepDescription}}</h2>

<div *ngIf="currentStepNumber === 1">
    <select id="unitType" [(ngModel)]='formData.unitType' required>
        <option *ngFor="let option of unitTypeOptions" [value]="option.value">
            {{option.label}}
        </option>
    </select>
</div>

<div *ngIf="currentStepNumber === 2">
    <label>{{unitTypeOptions[formData.unitType].label}} Number: </label>
    <input id="startUnit" type="text" [(ngModel)]='formData.startUnit' required />
</div>

<div *ngIf="currentStepNumber === 3">
    <label>{{unitTypeOptions[formData.unitType].label}} Number: </label>
    <input id="endUnit" type="text" [(ngModel)]='formData.endUnit' required />
</div>

<div *ngIf="currentStepNumber === 4">
    <input id="memDays" type="number" [(ngModel)]='formData.memDays' required />
</div>

<div *ngIf="currentStepNumber === 5">
    <input id="revDays" type="text" [(ngModel)]='formData.revDays' required />
</div>

<div *ngIf="currentStepNumber === 6">
    <input id="restDays" type="number" [(ngModel)]='formData.restDays' required />
</div>

<div *ngIf="currentStepNumber === 7">
    <input id="startDate" type="date" [(ngModel)]='formData.startDate' required />
</div>

<div *ngIf="currentStepNumber === 8">
    <pre>{{ getFormattedSummary() }}</pre>
</div>

<div>
    <button *ngIf="currentStepNumber !== 1" (click)="goToPreviousStep()">Back</button>
    <button *ngIf="currentStepNumber !== 8" (click)="goToNextStep()">Next</button>
    <button *ngIf="currentStepNumber === 8" (click)=" generatePreview()">Generate Preview</button>

</div>

<mat-progress-bar mode="determinate" color="primary" [value]="getProgress()">
</mat-progress-bar>