<h2>{{currentStepDescription}}</h2>

<div *ngIf="currentStepNumber === 1">
    <select [(ngModel)]='formData.memorizationUnit' required>
        <option *ngFor="let option of unitTypeOptions" [value]="option.value">
            {{option.label}}
        </option>
    </select>
</div>

<div *ngIf="currentStepNumber === 2">
    <label>{{unitTypeOptions[formData.memorizationUnit].label}} Number: </label>
    <input type="text" [(ngModel)]='formData.startUnit' required />
</div>

<div *ngIf="currentStepNumber === 3">
    <label>{{unitTypeOptions[formData.memorizationUnit].label}} Number: </label>
    <input type="text" [(ngModel)]='formData.endUnit' required />
</div>

<div *ngIf="currentStepNumber === 4">
    <input type="number" [(ngModel)]='formData.memorizationDaysPerCycle' required />
</div>

<div *ngIf="currentStepNumber === 5">
    <input type="text" [(ngModel)]='formData.revisionDaysPerCycle' required />
</div>

<div *ngIf="currentStepNumber === 6">
    <input type="number" [(ngModel)]='formData.restDaysPerCycle' required />
</div>

<div *ngIf="currentStepNumber === 7">
    <input type="date" [(ngModel)]='formData.startDate' required />
</div>

<div *ngIf="currentStepNumber === 8">
    <pre>{{ getFormattedSummary() }}</pre>
</div>

<div *ngIf="currentStepNumber === 9">
    <div *ngIf="isPreviewReady">
        <h4>Estimated Completion date: {{estimatedCompletionDate}}</h4>
        <h4>Plan Preview</h4>
        <pre>{{ previewCSV }}</pre>
    </div>
    <div *ngIf="!isPreviewReady">
        <h4>Generating Plan Preview ...</h4>
    </div>
</div>

<div>
    <button *ngIf="currentStepNumber !== 1" (click)="goToPreviousStep()">Back</button>
    <button *ngIf="currentStepNumber < 8" (click)="goToNextStep()">Next</button>
    <button *ngIf="currentStepNumber === 8" (click)=" generatePreview()">Generate Preview</button>
    <button *ngIf="currentStepNumber === 9" (click)="generateFullPlan()">Generate Full Plan</button>
    <button *ngIf="currentStepNumber === 10" (click)="downlaodFullPlan()">Download Full Plan</button>
</div>

<mat-progress-bar mode="determinate" color="primary" [value]="getProgress()">
</mat-progress-bar>